html, body{
    margin: 0; 
    height: 100%;
    font-family: sans-serif;   
}
h2{ 
    margin-top: -5px;
    padding: 50px; 
    background: linear-gradient(to right, rgb(191, 6, 6), rgb(0, 0, 0));
    color:rgb(17, 28, 43);
    color:white; 
}
p{
    margin:auto;
    width:400px;
    height:auto;
    text-align: center; 
}
caption{
    font-size: 14pt;
    background-color:#cbcbcb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}
blockquote{
    background-color: rgba(33, 144, 254, 0.92); 
    color: rgb(255, 255, 255); 
    padding:10px; 
    border-radius: 5px;
    font-size:16pt; 
    text-align: center; 
    height:auto; 
    width:380px;
    margin: auto;
    margin-top:10px;
    margin-bottom: 10px;
}
table{
    width:400px;
    border-radius: 5px;
    background-color: rgb(237, 240, 244);
    height: auto;
    text-align: center; 
    padding:10px;
    margin: auto; 
}
 h3, h4{
    color:rgba(255, 255, 255, 0); 
    position: absolute;
    bottom: 0px;
}
 table tr th{
     background-color:rgb(90, 131, 63);
     color: rgb(242, 242, 242); 
}
#teamRoster{
    box-shadow: 5px 5px 5px rgb(218, 216, 216);
    width:380px;
    height:auto; 
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    padding:10px; 
    border-radius: 5px; 
    background: linear-gradient(to right, rgb(27, 27, 70), rgb(255, 77, 0)); 
    color:white; 
}
#teamRoster > :first-child{
    background-image: url("dblogo.png");
    background-position-x: right;
    background-size: 200px;
    background-repeat: no-repeat;
    color:white; 
    text-decoration: none;
    list-style: none;
}
#teamRoster > :last-child{
    border-top: solid white 1px;
    list-style: none;
    background-position-x: right;
    background-image: url("bears.png");
    background-size:200px;
    background-repeat: no-repeat;
    color:white; 
}
#teamRoster li ul li {
    text-decoration: none; 
    list-style: square; 
}a
#teamRoster a{
    color:white; 
    text-decoration: none; 
}
#teamRoster li a:hover{
    color:rgb(255, 80, 5); 
}
#teamRoster li a:visited{
    color:rgb(255, 255, 255); 
    text-decoration: none; 
}
#teamRoster li A:visited:hover{
    color: rgb(255, 80, 5);
}

h5{
    color:rgba(255, 255, 255, 0); 
    position: absolute;
    bottom: 0px; 
}
form{
    box-shadow: 5px 5px 5px rgb(240, 234, 234);
    background-color: rgb(235, 235, 235);
    width:380px;
    padding:10px;
    border-radius: 5px;
    height:auto; 
    margin:auto;
    /* margin-left: 70px;  */
}
#checkbox-grid{
    display: inline-flex; 
    list-style: none; 
}
.subjectHeader{
    clear: both;
    font-size: 1.5em; 
}