html, body{
    margin: 0; 
    height: 100%;
    font-family: sans-serif;   
}
h2{ 
    margin-top: -5px;
    padding: 50px; 
    background: linear-gradient(to right, rgb(191, 6, 6), rgb(0, 0, 0));
    color:rgb(17, 28, 43);
    color:white; 
}
p{
    text-align: center; 
}
blockquote{
    font-size:16pt; 
    text-align: center; 
}
table{
    width:400px;
    height: auto;
    text-align: center; 
    padding:10px;
    margin: auto; 
}
 h3, h4{
    color:rgba(255, 255, 255, 0); 
    position: absolute;
    bottom: 0px;
}
 table tr th{
     background-color:rgb(90, 131, 63);
     color: rgb(242, 242, 242); 
}
#teamRoster{
    width:400px;
    height:auto; 
    margin: auto;
    margin-top:5px;
    margin-bottom:5px;
    padding:10px; 
    border-radius: 5px; 
    background: linear-gradient(to right, rgb(27, 27, 70), rgb(255, 77, 0)); 
    color:white; 
}
#teamRoster li{
    border-bottom: white solid 1px;
    
    list-style: none; 
}
#teamRoster a{
    color:white; 
    text-decoration: none; 
}
#teamRoster a::hover{
    color:white; 
    text-decoration: none; 
}
#teamRoster a::visited{
    color:white; 
    text-decoration: none; 
}
#teamRoster a::hover{
    color:white; 
    text-decoration: none; 
}
h5{
    color:rgba(255, 255, 255, 0); 
    position: absolute;
    bottom: 0px; 
}
form{
    background-color: rgb(202, 202, 202);
    width:400px;
    padding:10px;
    border-radius: 5px;
    height:auto; 
    margin:auto;
    /* margin-left: 70px;  */
}
#checkbox-grid{
    display: inline-flex; 
    list-style: none; 
}
.subjectHeader{
    clear: both;
    font-size: 1.5em; 
}